table {
    border-collapse: collapse;
    text-align: center;
    border:0.5px solid gray;
}
.tds{
    border-collapse:collapse;
    border:0.5px solid gray;
    padding: 20px 0px ;
}
tr{
    border:0.5px solid gray;
}
.brand_logos{
    width: 90px;
    height: auto;
  }
  .all_brand_div{
    width: 80%;
    margin: 0 auto;
  }
  .brand_name{
    font-size: 14px;
    color: darkgrey;
  }
  .links{
    text-decoration-line: none;
  }
  
  .allbrand{
    padding: 10px;
  }
  .allbrandhead{
    margin-bottom: 20px;
    font-size: 30px;
    text-align: initial;
  }